/* 
    Document   : style
    Created on : Jan 31, 2013, 4:10:35 PM
    Author     : Nick
    Description:
        Purpose of the stylesheet follows.
*/

.js-leftnav {
    float:left;
    display:inline;
}

.js-rightnav {
    float:left;
    display:inline;
}

#jMenu {
    float:left;
    width:940px;
    height:45px;
    background-image:url('images/nav.png');
    margin:0px;
    padding:0px;
    padding-left:0px;
    display:inline;
}

#jMenu li {
    float:left;
    min-width:50px;
    padding-left:58px;
    padding-right:58px;
    list-style:none;
    color:#fff;
    position:relative;
    text-transform: uppercase;
    font-family:helvetica, arial, sans-serif;
    font-weight:bold;
    font-family:arial;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
    height:45px;
    line-height:46px;
    border-right:1px groove rgba(255, 255, 255, .9);
    width:auto;
}

#jMenu li.last {
    border-right:none;
}

#jMenu li:hover {
    background-color:#314968;
    background-image:none;
    list-style-image: url('images/arrow.png');
    list-style-position: inside;
    
}

#jMenu li:hover ul {
    display:block;
}

#jMenu li ul {
    position:absolute;
    display:none;
    background-color:#314968;
    text-align:center;
    margin-left:-58px;
    margin-top:-1px;
    width:100%;
    max-width:100%;
    padding:0px;
   word-wrap:break-word;
    
}

#jMenu li ul li {
    float:none;
    text-align:left;
    background-color:#314968;
    height:auto;
    width:100%;
    max-width:100%;
    word-wrap:break-word;
    padding:0px;
    margin:0px;
}

#jMenu li ul li {
    font-size:14px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-weight:normal;
    text-transform:none;
    text-indent:40px;
}

#jMenu li ul li:hover {
    list-style-position: inside;
    list-style-image: url('images/arrow-red.png');
    
}