body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #f3f3f3;
}

.container {
	margin: 0 auto;
	width: 1024px;
	height: 2950px;
	background-image: url('images/foreground.png');
	background-repeat: no-repeat;
}

.home-container {
	margin: 0 auto;
	width: 1024px;
	height: 1097px;
	background-image: url('images/home-foreground.png');
	background-repeat: no-repeat;
}

.random-container {
	margin: 0 auto;
	width: 1024px;
	height: 1097px;
	background-image: url('images/random-foreground.png');
	background-repeat: no-repeat;
}

header {
	margin: 0 auto;
	width: 880px;
	height: 160px;
}

.logo {
	margin: 30px 0 0 0;
}

header p {
	float: right;
	margin: 65px 10px 0 0;
	font-size: 12px;
	font-family: helvetica;
	color: #686868;
}

.social-media {
	float: right;
	margin: 45px 0 0 0;
}

.top-nav {
	margin: 23px 0 0 0;
	width: 100%;
	height: 50px;
}

.top-nav ul {
	margin: 0 0 0 -40px;
	list-style-type: none;
}

.top-nav ul a {
	text-decoration: none;
}

.top-nav ul li a {
	float: left;
	width: 115px;
	height: 48px;
	background-image: url('images/nav-button-background.png');
	background-repeat: no-repeat;
	font-size: 12px;
	font-family: helvetica;
	color: #686868;
	text-align: center;
	transition: all 0.3s linear 0s;
	padding: 16px 0 0;
}

.top-nav ul li a:hover {
	background-image: url('images/top-nav-rollover.png');
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: underline;
}

.search {
	float: right;
	clear: both;
	margin: -64px -4px 0 0;
	width: 308px;
	height: 48px;
	background-image: url('images/search-background.png');
	background-repeat: no-repeat;
}

.search input[type=text] {
	width: 240px;
	height: 37px;
	background-image: url('images/search-box.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	padding: 0 0 0 10px;
	display: block;
	margin: 6px auto;
	color: #686868;
}

button {
	position: relative;
	background-color: transparent;
    background-image: url("images/search-button.png");
    background-repeat: no-repeat;
    float: right;
    height: 23px;
    margin: -36px 48px 0 0;
    width: 25px;
    z-index: 9;
}

/****************************
HOME PAGE STYLES
****************************/

.home-slider {
	margin: 9px auto;
	width: 940px;
	height: 449px;
	background-image: url('images/home-slide-one.png');
	background-repeat: no-repeat;
}

.home-slider-ribbon {
	background-image: url("images/home-slider-ribbon.png");
    background-repeat: no-repeat;
    height: 146px;
    position: relative;
    top: 303px;
    width: 100%;
    opacity: .6;
}

.home-slider-ribbon p {
	color: #FFFFFF;
    float: left;
    font-family: helvetica;
    font-size: 30px;
    left: 90px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: 55px;
    width: 460px;
}

.home-slider-ribbon p span {
	font-weight: bold;
}

.ribbon-cross {
	margin: 38px 0 0 180px;
}

.home-description {
    height: 440px;
    margin: -12px auto;
    width: 940px;
}

.who-we-are {
	margin: -5px 0 0 0;
	width: 100%;
	height: 216px;
}

.home-dna-strand {
	margin: 20px 0 0 10px;
}

.who-we-are-info {
	margin: 20px 0 0 0;
	width: 595px;
	height: 150px;
	float: right;
}

.who-we-are-info h2 {
	margin: 0 auto;
	font-size: 25px;
	color: #212f81;
	font-family: georgia;
	text-transform: uppercase;
	font-weight: normal;
}

.who-we-are-info h2 span {
	font-weight: bold;
	color: #cb0040;	
}

.who-we-are-info p {
	margin: 0;
	padding: 0 0 0 5px;
	font-family: georgia;
	font-size: 15px;
	color: #464646;
}

.learn-mores {
	margin: 0 auto;
	width: 880px;
	height: 210px;
}

.innovation {
	float: left;
	border-top: 1px dotted;
	width: 280px;
	height: 224px;
}

.recognition {
	margin: 0 0 0 8px;
	float: left;
	border-top: 1px dotted;
	width: 303px;
	height: 224px;
}

.mit {
	float: right;
	border-top: 1px dotted;
	width: 280px;
	height: 224px;
}

.left img {
	margin: 30px 0 0 10px;
}

.left p {
	font-family: georgia;
    font-size: 15px;
    left: 30px;
    margin: 0;
    position: relative;
    top: -20px;
    width: 230px;
}

.left p:first-of-type {
	font-weight: bold;
	color: #202e7d;
}

.left p:last-of-type {
	color: #464646;
}

.left a {
	margin: 0 0 0 30px;
	font-family: georgia;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #006cc0;
}

.bottom-dotted-ribbon {
	position: relative;
    top: -17px;
}

/****************************
SUMMARY STYLES PAGE STYLES
****************************/

.random-rollovers {
	position: relative;
	margin: 8px auto;
	width: 940px;
	height: 449px;	
}

.vitalbeat-rollover {
	background-image: url("images/vitalbeat-rollover.png");
    background-repeat: no-repeat;
    clear: both;
    float: left;
    height: 449px;
    position: relative;
    width: 310px;
    margin: -4px 0 0;
    overflow: hidden;
}

.clip-suite-rollover {
	float: left;
	position: relative;
	width: 310px;
	height: 449px;
	background-image: url('images/clip-suite-rollover.png');
	background-repeat: no-repeat;
	margin: -4px 0 0 5px;
	overflow: hidden;
}

.clip-lock-rollover {
	float: left;
	position: relative;	
	width: 310px;
	height: 449px;
	background-image: url('images/clip-care-lock.png');
	background-repeat: no-repeat;
	margin: -4px 0 0 5px;
	overflow: hidden;
}

.gutter1 {
	left: 310px;
	position: absolute;
	top: 1px;
	z-index: 9;
}

.gutter2 {
	left: 625px;
	top: 1px;
    position: absolute;
    z-index: 9;
}

.section-info {
	position: absolute;
	top: 326px;
	width: 100%;
	height: 246px;
	background-image: url('images/vitalbeat-info-background.png');
	background-repeat: no-repeat;
}

.vitalbeat-banner {
	display: block;
    margin: 0 auto;
    position: relative;
    top: 34px;
}

.section-info p {
	position: absolute;
	top: 300px;
	color: #FFFFFF;
    font-family: georgia;
    font-size: 15px;
    margin: 0 0 0 30px;
    width: 70%;
}

.section-info p:last-of-type {
	margin: 50px 0 0 30px;
}

.section-info a {
	color: #FFFFFF;
    font-family: georgia;
    font-size: 15px;
    font-weight: bold;
    left: 45px;
    position: absolute;
    text-decoration: none;
    top: 410px;
}


.vital-move {
	position: absolute;
	top: 200px;
}

.rollover-cross {
	position: absolute;
	left: 30px;
	top: 210px;
}

.dotted-divider {
	position: relative;
	top: -2px;
}

/****************************
PRODUCTS PAGE STYLES
****************************/

.products {
	margin: 0 auto;
	width: 900px;
	height: 90px;
}

.products ul {
	list-style-type: none;
	margin: 0 0 0 -210px;
}

.products ul li {
	clear: right;
    float: left;
    margin: 0 0 0 230px;
    cursor: pointer;
}

.products ul li p {
	 transition: all 0.3s linear 0s;
}

.products ul li p:hover {
	color: #ca0040;
}

.products ul li p {
	left: 60px;
    margin: 0;
    position: relative;
    top: -38px;
    font-weight: bold;
    font-family: helvetica;
    font-size: 12px;
    color: #686868;
}

.product-list-dividers {
	left: 410px;
    position: relative;
    top: -52px;
    z-index: -9;
}

.slider {
	margin: -1px auto;
	width: 940px;
	height: 449px;
	background-image: url('images/slider-background.png');
	background-repeat: no-repeat;
}

.slide {
	position: relative;
	float: left;
	width: 940px;
	height: 449px;
}

.slide p:first-of-type {
	clear: both;
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 50px;
    left: 480px;
    position: relative;
    text-shadow: 1px 1px 0 #000000;
    text-transform: uppercase;
    top: -350px;
}

.slide p:last-of-type {
    color: #303030;
    font-family: helvetica;
    font-size: 30px;
    margin: -380px 0 0 490px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 420px;
}

.slider-logo {
	clear: both;
    float: right;
    position: absolute;
    right: 49px;
    top: 340px;
}

.flat-line {
	position: relative;
	left: 334px;
	top: 40px;
}

.slider-lists {
	margin: 20px auto;
	width: 940px;
	height: 230px;
}

.list {
	float: left;
	width: 465px;
	height: 100%;
}

.list h3 {
	margin: 0 0 0 47px;
	font-size: 20px;
	font-family: georgia;
	font-weight: normal;
	color: #464646;
}

.list span {
	font-weight: bold;
	color: #006cc0;
}

.list img {
	margin: 0 0 0 43px;
}

.list ul {
	width: 302px;
	margin: 0 0 0 -12px;
	list-style-type: none;
}

.list ul li {
	background-image: url("images/list-crosses.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin: 0 0 15px 0;
    color: #464646;
    font-family: georgia;
    font-size: 14px;
    padding: 0 0 0 20px;
}

.list-icon {
	position: relative;
    top: -170px;
    left: -20px;
	float: right;
	clear: right;
}

.product-highlights {
	float: left;
	width: 465px;
	height: 100%;
	border: 1px solid;
}

.overview {
	margin: 0 auto;
	width: 940px;
	height: 1465px;
}

.ribbon {
	margin: 25px 0 0 0;
	width: 100%;
	height: 141px;
	background-image: url('images/ribbon.png');
	background-repeat: no-repeat;
}

.ribbon p {
	color: #FFFFFF;
    font-family: helvetica;
    font-size: 35px;
    left: 70px;
    margin: 0;
    position: relative;
    top: 33px;
    width: 430px;
    text-shadow: 1px 1px 0 #000000;
}

.ribbon img {
	left: 800px;
    position: relative;
    top: -83px;
}

.our-cloud {
	margin: 0 auto;
	width: 880px;
	height: 360px;
}

.our-cloud-mobile {
	margin: 35px 0 0 0;
}

.our-cloud p:first-of-type {
	clear: both;
    color: #CB0040;
    float: right;
    font-family: georgia;
    font-size: 25px;
    font-weight: bold;
    margin: 75px 240px 0 0;
}

.our-cloud p:last-of-type {
	clear: both;
    color: #838587;
    float: right;
    font-size: 20px;
    margin: -260px 182px 0 0;
    width: 190px;
}

.our-cloud-dotted-lines {
	left: 230px;
    position: relative;
    top: -270px;
}

.dna-strand-one {
	clear: left;
    float: right;
    margin: -377px -40px 0 0;
}

.bio-sensors {
	margin: 0 auto;
	width: 880px;
	height: 370px;
}

.bio-sensors p:first-of-type {
    color: #CB0040;
    font-family: georgia;
    font-size: 25px;
    font-weight: bold;
   	margin: 60px 0 0 20px;
}

.bio-sensors p:last-of-type {
    color: #838587;
    font-size: 20px;
    margin: 0 0 0 0;
    width: 260px;
    margin: 0 0 0 20px;
}

.bio-dotted-lines {
	left: 190px;
    position: relative;
    top: -314px;
}

.bio-mobile {
	margin: -184px 0 0 0;
	float: right;
}

.dna-strand-two {
	margin: 54px 0 0 -153px;
}

.features {
	margin: -50px auto;
	width: 880px;
	height: 513px;
}

.features-mobile {
	margin: 70px 0 0 35px;
}

.features-list {
	margin: -70px 60px 0 0;
    clear: left;
    float: right;
    height: 460px;
    width: 304px;
}

.list-icons {
	position: relative;
	width: 45px;
	height: 65px;
	top: 61px;
	border-bottom: 1px dotted black;
}

.list-icons img {
	position: relative;
	display: block;
	margin: 0 auto 0 auto;
	padding: 10px 0 11px 0;
	top: 8px
}

.features-list p {
	border-bottom: 1px dotted #7D7D7D !important;
    color: #464646;
    float: right;
    font-family: georgia;
    font-size: 14px;
    margin: 6px 15px 0 0;
    padding: 10px 0;
    width: 235px;
}

.features-list span {
	font-weight: bold;
	text-transform: uppercase;
}

.platforms {
	clear: both;
    float: right;
    height: 80px;
    margin: -30px 10px 0 0;
    width: 400px;
}

.platforms ul {
	margin: 0 0 0 -40px;
	list-style-type: none;
}

.platforms ul li {
	float: left;
	margin: 0 0 0 40px;
}

.dna-strand-three {
	margin: -270px 0 0 351px;
}

.keep-up-with-the-beat {
	width: 940px;
	height: 58px;
	background-image: url('images/keep-up-with-the-beat.png');
	background-repeat: no-repeat;
	margin: 60px 0 0 0;
}

.keep-up-with-the-beat p  {
	color: #FFFFFF;
    font-family: helvetica;
    font-size: 27px;
    left: 55px;
    position: relative;
    top: 11px;
    text-shadow: 1px 1px 0 #000000;
}

.footer-flatline {
	margin: -50px 0 0 0;
	float: right;
}

footer {
	margin: 15px auto;
	width: 940px;
	height: 520px;
}

.footer-top {
	width: 100%;
	height: 296px;
	border-bottom: 1px dotted;
}

.footer-nav {
	float: left;
	width: 125px;
	height: 290px;
	margin: 8px 0 0 -15px;
}

.footer-logo {
	display: block;
	margin: 0 auto;
}

.footer-nav ul {
	list-style-type: none;
    margin: 35px 0 0;
    width: 60px;
}

.footer-nav ul li {
	margin: 20px 0;
}

.footer-nav ul li a {
	font-family: helvetica;
	font-size: 12px;
	text-decoration: none;
	color: #686868;
	transition: all 0.3s linear 0s;
}

.footer-nav ul li a:hover {
	color: #ca0040;
}

.footer-nav-divider {
	position: relative;
    top: -228px;
    left: 15px;
    z-index: -9;
}

.news {
	float: left;
	width: 380px;
	height: 270px;
	margin: 15px 0 0 30px;
}

.news img {
	margin: 0 0 0 20px;
}

.news p {
	margin: -20px 0 0 50px;
	text-transform: uppercase;
	font-family: helvetica;
	font-weight: bold;
	font-size: 15px;
	color: #cb0040;
}

.twitter-feed {
	margin: 10px 0 0 2px;
	width: 339px;
	height: 209px;
	background-image: url('images/twitter-feed-background.png');
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
}

.twitter-feed p {
	width: 90%;
	border-bottom: 1px dotted;
    color: #777777;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px 10px;
    padding: 0 0 10px;
    position: relative;
    text-transform: none;
    top: 15px;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

.twitter-feed p:hover {
	color: #ca0040;
}

.twitter-feed p:last-of-type {
	border: none;
}

.contact {
	float: left;
    height: 135px;
    margin: 41px 0 0;
    width: 400px;
}

.envelope {
	display: block;
	margin: 0 auto;
}

.contact p {
	color: #464646;
    display: inline;
    font-family: helvetica;
    font-size: 15px;
    left: 30px;
    margin: 0 54px 0 0;
    position: relative;
    top: 20px;
}

.contact span {
	color: #cb0040;
	font-weight: bold;
	text-transform: uppercase;
}

.contact-divider {
	margin: 6px 0 0 195px;
}

.footer-bottom {
	float: left;
	width: 940px;
	height: 167px;
	border-bottom: 1px dotted;
}

.aventyn {
	float: left;
	width: 274px;
	height: 167px;
}

.aventyn img {
	margin: 41px 0 0 30px;
}

.aventyn p {
	margin: 10px 0 0 30px;
	font-family: helvetica;
	font-size: 11px;
	color: #464646
}

.aventyn p:last-of-type {
	margin: 5px 0 0 30px;
    width: 45%;
}

.karolinska {
	float: left;
	width: 350px;
	height: 167px;
}

.karolinska img {
	margin: 41px 0 0 70px;
}

.karolinska p {
	margin: 10px 0 0 70px;
	font-family: helvetica;
	font-size: 11px;
	color: #464646
}

.karolinska p:last-of-type {
	margin: 5px 0 0 70px;
    width: 45%;
}

.hospital-trust {
	float: left;
	width: 308px;
	height: 167px;
}

.hospital-trust img {
	margin: 41px 0 0 100px;
}

.hospital-trust p {
	margin: 10px 0 0 100px;
	font-family: helvetica;
	font-size: 11px;
	color: #464646
}

.hospital-trust p:last-of-type {
	margin: 5px 0 0 100px;
    width: 53%;
}

.footer-bottom-dividers {
	left: 240px;
    position: relative;
    top: -80px;
}

.outro {
	float: left;
	width: 940px;
	height: 40px;
}

.outro p:first-of-type {
	margin: 16px 0 0 0;
	font-family: helvetica;
	font-size: 10px;
	color: #464646;
}

.outro p:last-of-type {
	float: right;
	margin: -11px 0 0 0;
	font-family: helvetica;
	font-size: 10px;
	color: #464646;
}

.outro a {
	text-decoration: none;
	font-weight: bold;
	color: #ca0040;
}

/****************************
 INNOVATION PAGE STYLES
****************************/

.innovation-slide {
	width: 458px;
	height: 449px;
	background-image: url('images/innovation-slide.png');
	background-repeat: no-repeat;
}

.key {
	position: relative;
	left: 500px;
	top: 25px;
}

.clip-slide-icon {
	position: relative;
	left: 600px;
	top: 0;
}

/****************************
 INNOVATION PAGE STYLES
****************************/


















