
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url('images/background.png');
}

.back-ribbon {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 311px;
	background-image: url('images/back-ribbon.png');
	background-repeat: no-repeat;
}

.container {
	width: 1000px;
	height: 1400px;
	margin: 0 auto 0 auto;
}

.top-section {
	position: relative;
	width: 1000px;
	height: 504px;
	top: 35px;
	background-image: url('images/top-background.png');
}

.vivioptal-intro-text {
	margin: 13px 0 0 29px;
}

.e-book-info {
	width: 438px;
	height: 288px;
	margin: 90px 0 0 60px;
}

.e-book-info p {
	margin: 0;
	font-family: myriad pro;
	text-transform: uppercase;
	text-align: center;
	color: #2e2d2e;
}

.e-book-info p:nth-child(1) {
	position: relative;
	top: -30px;
	font-size: 21px;
	letter-spacing: 8.3px;
}

.e-book-info p:nth-child(2) {
	font-size: 65px;
	letter-spacing: 7.4px;
}

.e-book-info p:nth-child(3) {
	font-size: 21px;
}

.e-book-info p:nth-child(4) {
	font-size: 80px;
	letter-spacing: 10.4px;
}

.e-book-info p:nth-child(5) {
	font-size: 28px;
}

.e-book-info p span {
	color: #f1801f;
}

.dotted-divider-full {
	position: relative;
	top: -260px
}

.dotted-divider-half {
	position: relative;
	top: -175px;
}

.solid-divider {
	position: relative;
	top: -69px;
}

.vivio-box-image {
	float: right;
	margin: -340px 135px 0 0;
}

.vivio-submit-section {
	width: 900px;
	height: 45px;
	margin: 0 0 0 58px;
}

form [type=text] {
	width: 215px;
	height: 26px;
	margin: 0 25px 0 0;
	padding-left: 10px;
	background-image: url('images/input-background.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	font-size: 11px;
	font-style: italic;
	color: #918e8e;
}

button {
	float: right;
	width: 152px;
	height: 38px;
	margin: -33px 0 0 0;
	background-image: url('images/submit-button.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.bottom-section {
	position: relative;
	top: 40px;
	width: 1138px;
	height: 619px;
	background-image: url('images/bottom-section-background.png');
	background-repeat: no-repeat;
}

.bottom-section-intro-text {
	width: 1000px;
}

.bottom-section-intro-divider {
	position: relative;
	left: 30px;
}

.bottom-section-intro-text p {
	position: relative;
	top: 30px;
	left: 29px;
	font-size: 24px;
	font-family: arial;
	text-transform: uppercase;
	color: #2e2d2e;
}

.bottom-section-intro-text p span {
	font-weight: bold;
}

.font-placement {
	font-family: arial;
	color: #2e2d2e;	
}

.font-placement h1 {
	width: 180px;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
}

.font-placement h1 span {
	font-weight: bold;
}

.font-placement p {
	width: 205px;
	margin: -10px 0 0 0;
	font-size: 13px;
}

.b-description {
	position: relative;
	top: 88px;
	left: 270px;
	width: 300px;
}

.benefits-description {
	position: relative;
	top: -57px;
	left: 770px;
	width: 300px;
}

.how-much-description {
	position: relative;
	top: 2px;
	left: 650px;
	width: 300px;
}

.how-much-description span em {
	width: 300px;
	font-style: normal;
}

.how-much-description h1 em {
	font-style: normal !important;
}

.footer-items {
	position: relative;
	width: 1000px;
	height: 125px;
	top: 50px;
}

.footer-items ul {
	margin: 35px 0 0 0;
	float: left;
	list-style-type: none;
}

.footer-items ul li {
	margin: 10px 0 0 0;
	font-family: arial;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.2s linear 0s;
}

.footer-items ul li:hover {
	color: #ed7e1e;
}

.address-social-media {
	float: right;
	width: 140px;
	height: 75px;
	margin: 45px 0 0 0;
}

.address-social-media p {
	margin: 3px 0 0 0;
	font-family: arial;
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
	color: #fff;
}

.address-social-media ul {
	float: right;
	margin: 15px 0 0 0;
}

.address-social-media ul li {
	float: left;
	margin: 0 0 0 10px;
}

.footer-items p {
	float: right;
	font-family: arial;
	font-size: 10px;
	color: #fff;
}

